/* General Styles */

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #dddddd;
  background-color: #222222;
}

h1 {
  margin-bottom: 10px;
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 15px;
  }
}

.list-group-item {
  background: #333333;
}

li {
  list-style: none;
}

#nowline {
  animation: pulse 5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

